<div class="container-fluid " style="padding-top:20px;margin-top: 50px;border-top: 2px solid grey">
  <div class="row">

    <div class="col list-group ">
      <a class="list-group-item  ForFooter">Home</a>
    </div>

    <div class="col ">

      <ul class="list-group ">
        <li class="list-group-item ForFooter">Solution</li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">Salesforce App</a>
        </li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">Share & Export</a>
        </li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">Alerts</a>
        </li>

      </ul>
    </div>

    <div class="col">
      <ul class="list-group">
        <li class="list-group-item ForFooter">Company</li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">About Us</a>
        </li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">Contact</a>
        </li>
      </ul>
    </div>

    <div class="col">

      <ul class="list-group">
        <li class="list-group-item ForFooter">Other</li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">Customer</a>
        </li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">Technology</a>
        </li>
      </ul>
    </div>

    <div class="col">
      <ul class="list-group">
        <li class="list-group-item ForFooter">Resources</li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">FAQ</a>
        </li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">Blog</a>
        </li>
        <li class="list-group-item ForFooter">
          <a class="ForLink">Terms & Condition</a>
        </li>
      </ul>
    </div>
  </div>
</div>
