.bodyForFooter{
    font-family: Bahnschrift;
    text-align: center;
    width: 100%;
    overflow-x: hidden;

}

.navbar1{
    background-color: #2aa6cc;
    width: 100% !important;
    font-family: Bahnschrift;
}

.BtnForNav{
    font-size: 25px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: white;
    padding-left: 5px;
    padding-right: 5px;

}











