
<div id="mySidebar" class="sidebar">
    <br>
    <br>
    <br>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <a >Profile</a>
    <a >Donors</a>
    <a >Companies</a>
    <a></a>
</div>

<div id="main">
    <button class="openbtn" (click)="openNav()">☰</button>

</div>


<!-- Page Content -->
<div class="container">


    <!-- Page Features -->

    <!-- Team -->
    <section id="team" class="pb-5" >

        <div class="container">
            <router-outlet class="center-content"></router-outlet>
            <h5 class="section-title h1">REQUESTS</h5>
            <div class="row" >

                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4"  *ngFor="let data of DataArray">
                    <div  *ngIf="filterData(data)" class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <br>
                                        <br>
                                        <br>
                                        <h4 class="card-title">Money:{{data.Money}}</h4>
                                        <p class="card-text">E-mail: {{data.Email}}</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                 <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <br>
                                        <br>
                                        <br>
                                        <h4 class="card-title">{{data.Reason}}</h4>
                                        <!--<p class="card-text">POC number: {{donor.PocNo}}</p>-->
                                        <a href="#" class="btn btn-primary btn-sm" routerLink="childDonor" routerLinkActive="active" ><i class="fa fa-plus" >View Request</i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<a href="#" class="btn btn-primary btn-sm" routerLink="childDonor" routerLinkActive="active" ><i class="fa fa-plus" >Public Request</i></a>-->

        </div>
    </section>
    <!-- Team -->
</div>

